.container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 250px auto 0;
  position: relative;
  padding: 0 30px;
}

.title {
  margin-bottom: 35px;
}

.text {
  margin-bottom: 20px;
}

.signature {
  position: absolute;
  right: 0;
  bottom: -140px;
}
